<section id="login__page" class="h-100 welcome-chutti">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-lg-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h3>Yay, initial setup is complete!
                        </h3>
                        <p>Organization details have been set up successfully.
                              Click the start button to get started with the leave management system.
                        </p>
                        <button routerLink="/signIn" class="btn theme__btn">START</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>