@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/mixin.scss';

.attendance__section{
    position: relative;
    h5 {
        
        display: inline-block;

        &::before {
            content: "\e104";
        }

        width: 60%;
    }
}
.reason__btn
{
    
    border:1.4px solid $darkBlue;
font-size: .9em ;
 color: #2733a0;
border-radius: 30px;

}
.status__btn
{

 color: #2733a0;


}
.table td {
    
    font-size: 0.9em;
    color: #404040;
    padding: 16px;
    vertical-align: middle;
    @include breakpoint(big-desktop) 
    {
        padding: 8px;
    }
}
.reason__selection{
    padding:5px !important;
}
.search__input
{
   .form-control
   {
    @include border-bottom();
    padding-left:0px;
    color: $gray;font-size: .9em;
    
   }
}

  
.filter__btn
{
    
    padding-right: 0px !important;
    text-align: right;
    button 
    {
        padding: 5px 8px;font-size: .9em;
        display: inline-block;
        margin-left: .5rem;
    }
}
.attendance__filter
{
    width: 50%;
    float: right;
    margin: 0rem 0 1rem;
  
}

.search__btn 
{
    position: absolute;
    top: 6px;
    right: 0;
    color: #a0a0a0;
    cursor: pointer;
}

.support__request--input {
    .form-control {
        border-left: none;
        border-right: none;
        border-top: none;
        border-radius: 0;
        padding-top: 0;
        font-size: .9em;
        padding-left: 0px;
        padding-bottom: 5px;

        &:focus {
            box-shadow: none;
        }
    }

    label {
        margin-bottom: 0px;
        font-size: .8em;
        color: $arrowGray;
        padding-left: 4px;
    }
}

.support__request-modal {
    padding: 2rem 1.5rem 1.5rem;

    h5 {
        padding-left: 0rem;
        font-size: 1.1em;
        
    }
    select#exampleFormControlSelect1 {
        margin-bottom: 61px;
    }
    .support__request {
        
        margin: 1.3rem 0 1rem;
    }
}

.modal-content {
    
    border-radius: 8px;
}
.support__page
{
    .trigger__btn, h5
    {
        display: inline-block;
    }
}
.modal-dialog--support
{
    padding-top: 55px;
    max-width: 420px;
}
.attendance {
    h3 {
        display: inline-block;
        margin-right: 4rem;
    }
.attendance__tab {

    display: inline-block;
    border-bottom: none;
    position: relative;
    top: -5px;

    a {
        font-size: 1rem;
        color: $text-color;
        margin: 0 .8rem;
        font-weight: 500;
        text-decoration: none;
        padding-bottom: 3px;

        &.active,
        &:hover {
            color: $darkBlue;
            border-bottom: 2px solid $darkBlue;
        }

    }
}
}
.nameImg{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 10px;
    }
