@font-face {
  font-family: 'chutti';
  src:  url('fonts/chutti.eot?scka68');
  src:  url('fonts/chutti.eot?scka68#iefix') format('embedded-opentype'),
    url('fonts/chutti.ttf?scka68') format('truetype'),
    url('fonts/chutti.woff?scka68') format('woff'),
    url('fonts/chutti.svg?scka68#chutti') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'chutti' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_dashboard:before {
  content: "\e100";
}
.icon_leave:before {
  content: "\e101";
}
.icon_attendance:before {
  content: "\e102";
}
.icon_timesheet:before {
  content: "\e103";
}
.icon_attendance1:before {
  content: "\e104";
}
.icon_support:before {
  content: "\e105";
}
.icon_quick_apply:before {
  content: "\e106";
}
.icon_leave_bank:before {
  content: "\e107";
}
.icon_collapse:before {
  content: "\e108";
}
.icon_expand:before {
  content: "\e109";
}
.icon_filter:before {
  content: "\e10a";
}
.icon_date_picker:before {
  content: "\e10b";
}
.icon_arrow_thick_left:before {
  content: "\e10c";
}
.icon_arrow_thick_right:before {
  content: "\e10d";
}
.icon_arrow_thin_left:before {
  content: "\e10e";
}
.icon_arrow_thin_right:before {
  content: "\e10f";
}
.icon_hold:before {
  content: "\e110";
}
.icon_cancel:before {
  content: "\e111";
}
.icon_tick:before {
  content: "\e112";
}
.icon_lock:before {
  content: "\e113";
}
.icon_edit_outline:before {
  content: "\e114";
}
.icon_edit_filled:before {
  content: "\e115";
}
.icon_delete_filled:before {
  content: "\e116";
}
.icon_search:before {
  content: "\e117";
}
.icon_notifications:before {
  content: "\e118";
}
.icon_time:before {
  content: "\e119";
}
.icon_date_time:before {
  content: "\e11a";
}
.icon_probation:before {
  content: "\e11b";
}
.icon_confirmed:before {
  content: "\e11c";
}
.icon_holidays:before {
  content: "\e11d";
}
.icon_priority_urgent:before {
  content: "\e11e";
}
.icon_arrow_up:before {
  content: "\e11f";
}
.icon_arrow_down:before {
  content: "\e120";
}
.icon_show_password:before {
  content: "\e121";
}
.icon_hide_password:before {
  content: "\e122";
}
.icon_name:before {
  content: "\e123";
}
.icon_organisation:before {
  content: "\e124";
}
.icon_phone:before {
  content: "\e125";
}
.icon_email:before {
  content: "\e126";
}
.icon_password:before {
  content: "\e127";
}
.icon_add:before {
  content: "\e128";
}
.icon_sign_out:before {
  content: "\e129";
}
.icon_profile:before {
  content: "\e12a";
}
.icon_warning:before {
  content: "\e12b";
}
.icon_camera:before {
  content: "\e12c";
}
