.leave__tab {

    display: inline-block;
    border-bottom: none;
    position: relative;
    top: -5px;

    a {
        font-size: 1rem;
        color: $text-color;
        margin: 0 .8rem;
        font-weight: 500;
        text-decoration: none;
        padding-bottom: 3px;

        &.active,
        &:hover {
            color: $darkBlue;
            border-bottom: 2px solid $darkBlue;
        }

    }
}

.nav-tabs {
    a {
        &:first-child {
            margin-left: 0;
        }
    }
}