<section id="login__page" class="h-100 welcome-chutti">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-lg-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h3>Your Initial setup has been completed!</h3>
                        <p>CloudNow offers a comprehensive range of cloud services and
                            technology solutions built to solve real-world problems
                            for businesses spanning different sizes, industries and geographies.
                            Our solid and progressive partnerships with industry-leading vendors</p>
                        <button routerLink="/signIn" class="btn theme__btn">START</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>