@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixin';
$navbar-border: #bbb;
$color-light-gray: #889099;
$color-dark-gray: #1a222a;
$color-html: #eee;
$sidebar-li-hover: #232a2f;
/* sizes */
$navbar-height: 9%;

body {
    background-color: $color-light-gray;
}

.navbar {
    border-bottom: 1px $navbar-border;
    height: $navbar-height;
}

.menu {
    width: 28px;
    height: 30px;
    padding: 5px;
    display: block;
    cursor: pointer;
    position: relative;
    float: right;
    z-index: 1;
    display: none;
    margin-top: 1.3rem;
    left: -10px;

    @include breakpoint(mobile) {
        display: block;
    }

    span {
        cursor: pointer;
        height: 2px;
        width: 28px;
        margin-bottom: 5px;
        background: #000;
        position: relative;
        right: 0;
        display: block;
        transform: rotate(0deg);
        transition: .7s ease;
    }
}

.sidebar {
    position: fixed;
    top: $navbar-height;
    bottom: 0;
    left: 0;
    max-width: 16.666667%;
    width: 100%;
    margin-right: 15px;
    border-top-right-radius: 35px;
    width: 100%;
    @include bg-gradient();

    @include breakpoint(tablet) {
        max-width: 8%;
        border-top-right-radius: 18px;
    }

    @include breakpoint(mobile) {
        left: -150px;
        top: 0px;
        height: 100vh;
        transition: 0.5s;
        z-index: 999;

        &.active {
            transition: 0.5s;
            max-width: 70%;
            left: 0;
            top: 0px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../../assets/images/dashborad/side_panel.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;


    }

    .nav {
        list-style: none;
        width: 90%;
        position: relative;
        z-index: 2;
        display: block;

        li {
            display: block;

            &:focus {
                outline: none;
            }

            margin: 5px 0;

            a {
                color: $white;
                font-size: 1em;
                line-height: 26px;
                display: flex;
                opacity: .6;
                font-weight: 500;

                [class*="   icon_"] {
                    position: relative;
                    top: 2px;
                }

                @include breakpoint(big-desktop) {
                    font-size: 1em;
                    line-height: 19px;
                    padding: .8rem 0;
                }

                @include breakpoint(tablet-landscape) {
                    font-size: 1em;
                }

                @include breakpoint(mobile) {
                    padding: 1.3rem 0;
                }

                span {
                    padding-right: .7rem;
                    font-size: 1.2em;
                }

                &:focus {
                    color: $white;
                }

                &.active {
                    opacity: 1;
                    ;
                }

                .menu__text {
                    @include breakpoint(tablet) {
                        display: none;
                    }

                    @include breakpoint(mobile) {
                        display: block;
                    }
                }
            }

            -moz-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            padding: .5rem 0 .5rem 3rem;
            border-top-right-radius: 35px;
            border-bottom-right-radius: 35px;

            @include breakpoint(big-desktop) {
                padding: .7rem 0 .7rem 2rem;
            }

            @include breakpoint(tablet-landscape) {
                padding: .7rem 0 .7rem 1rem;
            }

            @include breakpoint(tablet) {
                padding: .3rem 0 .3rem 1.5rem;
            }

            @include breakpoint(mobile) {
                padding: 0rem 0 0rem 1rem;
            }

            &.active {
                background: $darkPink;
                transition-duration: 0.2s;
            }
        }

        li.nav-profile {
            width: 100%;
            padding: 20px;
            background: $color-dark-gray;
        }

        li.nav-item:hover:not(.nav-header),
        li.active {
            background: rgba(255, 255, 255, .14);
            transition-duration: 0.2s;
            color: $white !important;

            a {
                opacity: 1 !important;

                span {
                    color: $white !important;
                }
            }
        }

    }
}

.sidebar-minify {
    margin: 10px 0;
    float: right;
    padding: 5px 10px 10px 10px;
    background: #1b1f24;
    color: #fff;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px;
}

.pointer {
    cursor: pointer;
}

.headerUser__info {
    li:hover {
        background-color: #F2F2F2;
        width: 100%;
    }
}

header {
    height: 68px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

    @include breakpoint(desktop) {
        height: 55px;
    }

    @include breakpoint(tablet) {
        height: auto;
        position: fixed;
        width: 100%;
        height: 60px;
        z-index: 99;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        background-color: #F1F7FB;
        left: 0;
    }

    &.sticky {
        box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    }
}

.body {
    height: calc(100% - 68px);

    @include breakpoint(tablet) {
        height: auto;
        margin-bottom: 3rem;
        margin-top: 8rem;
    }

    @include breakpoint(mobile) {
        margin-top: 6rem;
    }

    @include breakpoint(big-desktop) {
        height: calc(100% - 50px);
    }

    @include breakpoint(tablet) {
        height: inherit;
    }

    @include breakpoint(mobile) {
        margin-bottom: 0;

        [class*="col-"] {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

.menu__container {
    display: none;

    @include breakpoint(mobile) {   
        display: block;
    }
}

.main-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    filter: blur(10px);
    background-color: rgba(238, 238, 238, 0.7);
    z-index: -1;
    display: none;

    @include breakpoint(mobile) {
        &.active {
            display: block;
            z-index: 999;
        }
    }
}
.logout-img{
    width: 14px;
    height: 15px;
}
.bg_img_green {
    background-color: #2ECC71 !important;
}