.employeeFirstName {
    margin-top: .35rem;
    margin-left: .5rem
}
@import '../../../../assets/scss/variables.scss';

.leaveBalance {
    h5 {
        &::before {
            content: "\e101";
            position: absolute;
            left: 0px;
            top: -6px;
            font-size: 1.7em;
            color: #6747D4;
            text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
            font-family: "chutti" !important;
        }
    }
}
.search__container 
{
    position: relative;
}
.download {
    .download-file {
        border: dashed 1px $darkBlue;
        border-radius: 4px;
        padding: .8rem 0;

        img {
            padding-right: 5px;
        }
    }

    a {
        color: $darkBlue;
    }
}
.modal-dialog {
    margin: 4.75rem auto;
}

.modal-body {
    padding: 1.4rem;
}

.modal-dialog {
    margin: 4.75rem auto;
}

.modal-body {
    padding: 1.4rem;
}
.modal-dialog--support 
{
    max-width: 580px;
}

.form-control.leaveSummary {
    height: 60px;
}
