.upcomming
{
    h5 
    {
        display: inline-block;
        &::before
        {
            content: "\e11d";
        }
    }
}
.table
{
    tr:first-child
    {
        td 
        {
            border-top: none !important;
        }
        
    }
    tr 
    {
        td:last-child
        {
            text-align: right;
            padding-right: 0;
        }
    }
    margin:1rem 0  0;
} 