@import '../../../assets/scss/variables.scss';

.return
{
  margin-top: 1rem;
    a 
    {
        color: $text-color;
        font-size: .9em;
        .back__icon
        {
            color:$darkPink;
            position: relative;
            top: 1px;
        }
    }
}
.signIn__form--input
{
    .form-group
    {
        position: relative;
        .form-control-icons
        {
            position: absolute;
            top: 11px;
            font-size: 1.6rem;
            right: 10px;
            color: $arrowGray;
            .icon_show_password
            {
                color: $text-color;
            }
        }
    
    }
}
