<section id="login__page" class="h-100 welcome-chutti">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-lg-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h3>Welcome to Chutti!</h3>
                        <p>Greetings for the day!

                            We are pleased to have you on board!

                            Equip yourself to set up a new organization.

                            Do not delay or postpone the process, please click the start button below to proceed to do a
                            quick set up of your organization.
                        </p>
                        <button routerLink="/admingeneration" class="btn theme__btn">START</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>