<ngx-loading-bar [color]="'#6747D4'" [includeSpinner]='false'></ngx-loading-bar>
<section id="login__page" class=" h-100">
        <div class="row justify-content-center h-100 mx-0">
            <div class="col-10">
                <div class="row  h-100">
                    <div class="col-12 col-md-8 col-lg-4 align-self-center pr-sm-5">
                        <div class="resetPassword">
                                <h2>Set Password?</h2>
                                <p>Just one step,to complete your login process.</p>
                            <div class="re">
                                <form class="signIn__form--input" [formGroup]="setpasswordForm" role="form" novalidate>
                                        <div class="form-group">
                                            <span class="name__icon icon_lock"></span>
                                            <span class="error__icon icon_warning"></span>
                                                <input [type]="show==true ? 'text' : 'newpassword1'" class="form-control" id="newPwd" formControlName="newpassword1"
                                                  placeholder="New password" required>
                                                <div class="form-control-icons">
                                                  <span class="icon_show_password" *ngIf="show" aria-hidden="true" (click)="show=!show" ></span>
                                                 
                                                  <span class="icon_hide_password" *ngIf="!show" aria-hidden="true" (click)="show=!show"></span>
                                                  
                                                </div>
                                                <small *ngIf="setpasswordForm.controls['newpassword1'].errors && !setpasswordForm.controls['newpassword1'].pristine"
                                                  class="form-text text-muted">Password should contain minimum 8 characters</small>
                                              </div>
                                              <div class="form-group">
                                                  <span class="name__icon icon_lock"></span>
                                                  <span class="error__icon icon_warning"></span>
                                                <input [type]="showConfirmPswd==true ? 'text' : 'password'" class="form-control" id="confirmPwd"
                                                  formControlName="oldpassword" placeholder="Confirm Password" required>
                                                <div class="form-control-icons">
                                                  <span *ngIf="showConfirmPswd" class="icon_show_password" aria-hidden="true"
                                                    (click)="showConfirmPswd=!showConfirmPswd"></span>
                                                  <span *ngIf="!showConfirmPswd" class="icon_hide_password" aria-hidden="true"
                                                    (click)="showConfirmPswd=!showConfirmPswd"></span>
                                                </div>
                                                <div *ngIf="setpasswordForm.value.oldpassword!=''">
                                                  <small class="form-text text-muted"
                                                    *ngIf="setpasswordForm.value.newpassword1 != setpasswordForm.value.oldpassword">confirm password not matched</small>
                                                </div>
                                              </div>
                                    <button type="submit" class="w-100 btn__submit theme__btn btn-hover color-3" [disabled]="setpasswordForm.invalid || setpasswordForm.value.newpassword1 != setpasswordForm.value.oldpassword" (click)='reset()'>Set Password</button>
                                </form>
                              <div class="return text-center">
                                    <a routerLink="/signIn"><span class="back__icon"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                                    </span> Back to signIn</a>
                              </div>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-6 offset-lg-2">
                            <div class="login__header">
                                <a><img src="../../../assets/images/Logo.svg"></a>
                            </div>
                        </div>
                </div>
    
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-12 col-md-6 px-0">
                                <ul class="footer__link">
                                    <li><a href="#.">ABOUT</a></li>
                                    <li><a href="#.">FEATURES</a></li>
                                    <li><a href="#.">PRICING</a></li>
                                    <li><a href="#.">BLOG</a></li>
                                    <li><a href="#.">SUPPORT</a></li>
                                    <li><a href="#.">CONTACT</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 pr-0">
                                <p class="copy__rights white__color text-right">&copy; 2019 CloudNow Technologies, Made with love in India</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
