<ngx-loading-bar [color]="'#6747D4'" [includeSpinner]='false'></ngx-loading-bar>
<div class="attendance dashboard__content">
    <h3>Attendance</h3>
    <div class="inner__section attendance__section rounded">
            <h5>Attendance Records</h5>
            <app-my-attendance></app-my-attendance>
        </div>
    <!-- <div *ngIf="isManager" class="nav nav-tabs attendance__tab" id="nav-tab" role="tablist">
        <a class=" active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
            aria-selected="true">My Attendance</a>
        <a class="" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
            aria-selected="false">Attendance Requests</a>

    </div> -->
    <!-- <div *ngIf="isManager" class="tab-content h-100" id="nav-tabContent">
            <div class="tab-pane fade show active h-100" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="inner__section attendance__section rounded">
        <h5>My Attendance</h5>
        <app-my-attendance></app-my-attendance>
    </div>
    </div>
    
    <div  class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <app-attendanceapprovals></app-attendanceapprovals>
</div>
</div> -->
    <!-- Modal -->
</div>