@import '../../../../assets/scss/variables.scss';
.timesheet__section{
    h5 {
        display: inline-block;
        &::before {
            content: "\e103";       
        }
        width: 60%;
    }
}
.add__timesheet--btn
{
    width: 40px;
    display: inline-block; float: right;
}
.search
{
    width: 25%; display: inline-block;
    float: right;
    .form-group
    {
        width: 80%;
        display: inline-block;
    }

}
.week__details, .weekDays
{
    .form-control
    {
        @include border-bottom();
        padding-left:0px;
        color: #6E6E6E;
    }
label 
{
    color:$black;
}
}
.weekDays
{
    width: 85%;
    margin: 0 auto;
.form-group{
    display: inline-block;
    padding: 0 1rem;
    width: 14.2857142857%;
    text-align: center;
}
}
.weekDays
{
    .form-group
    {
        input[type="text"]{  
            text-align: center; 
        } 
    }
}

.repeat_all--days
{
    label
    {
        color: $arrowGray;
    }
}
.total
{
    text-align: right;
        color: $arrowGray;

    .total__value
    {
        color:$black;
        font-weight: 500;
        float: right;
        padding-left: 2rem;
    }
}
.total__section
{
    margin-top: 2rem !important;
}
.submit
{
    margin-right:0;
}
.bottom__btn
{
    margin-top: 3rem;
}
.timesheet__table {
    margin: 3.2rem 0 0 !important;
}