<section id="login__page" class="h-100 welcome-chutti">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-lg-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h3>Your initial setup is not yet done!!</h3>
                        <h5>Please go through the initial setup</h5>
                        <button routerLink="/admingeneration" class="btn theme__btn">START</button>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

