@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/mixin.scss';
.search__container 
{
    display: flex;
    .form-group
    {margin-right: 2.5rem;
        height: 44px;
        line-height: 44px;
        position: relative;
        display: inline-block;
        .form-control {
            padding-left: 0 ;
        }
    }
    height: 45px;
}
.projectType{
    position: relative;
    h5 {
        .title 
        {
            display: none;
            &.active 
            {
                display: block;
            } 
        }
        display: inline-block;

        &::before {
            content: "\e103";
        }

        width: 60%;
    }
}
.project__type 
{
    .project__section
    {
      display: none;
        opacity: 0;
        transition:0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &.active 
        {
          display: block;
            opacity: 1;
            transition:0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        } 
    }
}

.form-group 
{
    margin-bottom: 1.7rem;
}
  .form-control {
    position: relative;
    padding-left: 0;
    &:focus {
      box-shadow: 0 2px 0 0 blue;
    }
  }
  
  .form-input.filled {
    box-shadow: 0 2px 0 0 lightgreen;
  }
  .projects-body 
  {
      h6 
      {
          font-size: 1.2em;
          margin-bottom: 1.8rem;
      }
  }
  .modal-dialog 
  {
    max-width: 444px;
    margin: 5.75rem auto 1.75rem;
  }

 
 .multiSelect 
 {
   h6 
   {
    font-size: 1.2em;font-weight: 600;
   }
   .form-group 
   {
     margin-bottom: 1.3rem !important;
    .employee-label 
    {
      display: flex;
      align-items: center;
      cursor: pointer;
      &::before, &::after
      {
        top: 7px;
      }
      .user__img 
      {
        width: 28px;
        height: 28px;
        margin-left: 8px;
        justify-content: center;
      }
      .employee__name 
      {
        margin-left: 6px;
        font-size: .9em;
        opacity: .9;
      }
    }
   }
   .listScroll 
   {
    height: 320px;
    overflow: auto;
    &::-webkit-scrollbar 
    {
      width: 5px;
      position: absolute;
    }
    &::-webkit-scrollbar-thumb 
    {
      background: #A9A8A8;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-track 
    {
      background: #ddd;
      border-radius: 20px;
    }
   }
  
 }
 .employee__modal-content 
 {
 border-radius: 8px;
 border:none;
 .modal-body 
 {
  padding: 1.5rem;
 }
 }
 .employeeList 
 {
   padding-left: 0;
   li 
   {
     color: #000000;
    &.active 
    {
      background-color: #8564e6;
      color: $white;
    }
    display: flex;
    align-items: center;
    float: left;
    margin-right:20px;
    border-radius: 20px;
    background-color: #e6e6e6;
    padding: 5px 15px 5px 5px;
    font-size: .9em;

    cursor: pointer;
    .user__img 
    {
      margin-right: .8rem;
      width: 26px;
      height: 26px;
      line-height: 28px;
      font-size: .7em;
      align-items: center;
    }
   }
 }
 .selectedEmployee 
 {
   border-top: 1px solid $border-color;
   border-bottom: 1px solid $border-color;
   display: block;float: left;
   width: 100%;
   padding: 1.5rem 0;
   margin: 1rem 0;
 }
