<section id="login__page" class="h-100 welcome-chutti">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-lg-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h3>Seems like your email link has been Expired ! !</h3>
                        <h5>Please go through forgot password</h5>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
