<section class="h-100 leaveResponse">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-10">
                <div class="logo__img">
                    <img src="../../../assets/images/Logo.svg">
                </div>
                <div class="success__msg">
                    <div class="content">
                        <!-- <img src="../../../assets/images/tick.svg"> -->
                        <h4 style="color: red">You are not authorized person to access this page</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
