<div class="loader" *ngIf="preloader">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" >
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
     </svg>
</div>
<div class="section__container dashboard__content">
    <h3>My Profile</h3>

    <div class="profile inner__container  dashboard__content">

        <div class="row">
            <div class="col-md-5">
                <div class="profile__header">
                    <div class=" avatar-container" data-toggle="tooltip" data-placement="bottom"
                        *ngIf="imageProfile == false">
                        <img class="avatar" [src]="ProfileImage">
                    </div>
                    <div class=" avatar-container" data-toggle="tooltip" data-placement="bottom"
                        *ngIf="imageProfile == true">
                        <img class="avatar" src="../../assets/images/default-avatar.jpg">
                    </div>
                    <div class="profile__details">
                        <h5>{{employeeFirstName}}</h5>
                        <h6>{{designation}}</h6>

                    </div>
                </div>
            </div>
            <div class="col-md-7 profile__top--right text-right">
                <!-- <a routerLink="/user/myprofile/changepassword" class="change__pwd"><span
                        class=" icon_lock"></span>Change Password</a>
                <a class="change__pwd"><span class="icon_edit_filled"></span>Edit Profile</a> -->
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4" id="change__password">
                <h5>Change Password</h5>
                <form [formGroup]="changepassword">
                    <table class="change__password--table">
                        <tr class="password__value">
                            <td>
                                <label>Old Password:</label>

                            </td>
                            <td>
                                <input type="password" [type]="showOldPassword ? 'text' : 'password'"
                                    class="form-control" formControlName="oldpassword" required>
                                <div class="form-control-icons">
                                    <span class="icon_show_password" *ngIf="showOldPassword"
                                        (click)="showOldPassword = !showOldPassword"></span>
                                    <span class="icon_hide_password" *ngIf="!showOldPassword"
                                        (click)="showOldPassword = !showOldPassword"></span>
                                </div>
                                <span style="color: red;" *ngIf="inValidpassword">Invalid Password</span>
                            </td>
                        </tr>
                        <tr class="password__value">
                            <td>
                                <label>New Password:</label>
                            </td>
                            <td>
                                <input type="password" [type]="showNewPassword ? 'text' : 'password'"
                                    class="form-control" formControlName="newpassword" required>
                                <div class="form-control-icons" (ngModelChange)="First_ConformPwdMatch($event)"
                                    (keypress)="omit_space($event)">
                                    <span class="icon_show_password" *ngIf="showNewPassword"
                                        (click)="showNewPassword = !showNewPassword"></span>
                                    <span class="icon_hide_password" *ngIf="!showNewPassword"
                                        (click)="showNewPassword = !showNewPassword"></span>
                                </div>
                            </td>
                        </tr>
                        <!-- <tr class="password__value">
                            <td>
                                <label>Confirm Password:</label>
                            </td>
                            <td>
                                <input type="password" class="form-control" formControlName="renewpassword" required
                                    (ngModelChange)="Sec_ConformPwdMatch($event)" (keypress)="omit_space($event)">
                                <div class="form-control-icons"> -->
                                    <!-- <span class="icon_show_password"></span>    
                                    <span class="icon_hide_password"></span> -->
                                <!-- </div>
                                <span *ngIf="pwdmismatch" style="color: red;">
                                    <small>Password doesn't match.</small>
                                </span>
                            </td>

                        </tr> -->

                    </table>

                    <div class="bottom__btn">

                        <button type="submit" class="btn btn-primary cancel"
                            (click)="cancelChangePassword()">Cancel</button>
                        <button type="submit" class="btn btn-primary submit"
                            [disabled]="pwdmismatch == true"
                            (click)="Submitpassword()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>