@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/mixin';
$color-back: #efefef;
$color-bar: #6747D4;

#change__password {
    margin-top: 2.9rem;

    h5 {
        padding-left: 0;
    }

    .change__password--table {
        margin-top: 1rem;

        .password__value {
            margin-bottom: 10px;

            td {
                position: relative;
                &:nth-child(1) {
                    width: 38%;
                    vertical-align: bottom;

                    label {
                        margin-top: 1.4rem;
                        font-size: .9em;
                    }
                }

            }

        }
    }
}

.form-control {
    @include border-bottom();
    padding: 0px 26px 0 0;
    font-size: 1.9em;
    letter-spacing: 3.5px;
    max-height: 27px;

    &:focus {
        box-shadow: none !important;
    }
}
input[type=text] 
{
  font-size: 1em;
  letter-spacing: inherit;
}
.form-control-icons {
    position: absolute;
    top: 11px;
    font-size: 1.6rem;
    right: 0px;
    color: $arrowGray;

    .icon_show_password {
        color: $text-color;
    }
}
.profile 
{
 @include breakpoint(tablet) {
  padding-bottom: 4rem;
 }
} 

.avatar-container{
    position: relative;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    height: 110px;
    width: 110px;
    margin: 1rem auto 0;
    border: none;
    background: $color-back;box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 
    .avatar{
      display: block;
      margin: 4px;
      border-radius: 50%;
      width: 102px;
      height: 102px;
      overflow: hidden;
      z-index: 100;
     
  
      img{
        width: 100%;
        height: auto;
      }
    }
  
    .info{
      display: none;
      font-weight: bold;
      font-size: 2rem;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      background: rgba($color-bar,.2);
      color: white;
      z-index: 1000;
      -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
     
      animation-duration: 4s;
      
      &.js-active{
        display: table;
      }
  
      .info-inner{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }
    }
  }

  $step: 1;
$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);

@for $i from 1 through $loops {

  .p-#{$i*$step} {

    @if $i < $half {
      $nextdeg: 90deg +  ( $increment * $i ) ;

      background-image: linear-gradient(90deg, $color-back 50%, transparent 50%, transparent), linear-gradient($nextdeg, $color-bar 50%, $color-back 50%, $color-back); animation-name: example;

    } @else {
      $nextdeg: -90deg + ( $increment * ( $i - $half ) );

      background-image: linear-gradient($nextdeg, $color-bar 50%, transparent 50%, transparent), linear-gradient(270deg, $color-bar 50%, $color-back 50%, $color-back);

    }    
  }

}


@keyframes example {
    0%   { background-image: linear-gradient(90deg, $color-back 50%, transparent 50%, transparent), linear-gradient(93.6deg, $color-bar 50%, $color-back 50%, $color-back);}
    25%  {background-image: linear-gradient(90deg, $color-back 50%, transparent 50%, transparent), linear-gradient(127deg, $color-bar 50%, $color-back 50%, $color-back);}
    50%  {background-image: linear-gradient(90deg, $color-back 50%, transparent 50%, transparent), linear-gradient(157deg, $color-bar 50%, $color-back 50%, $color-back);}
    75%  {background-image: linear-gradient(90deg, $color-back 50%, transparent 50%, transparent), linear-gradient(180deg, $color-bar 50%, $color-back 50%, $color-back);}
    100% {background-image: linear-gradient(90deg, $color-back 50%, transparent 50%, transparent), linear-gradient(260deg, $color-bar 50%, $color-back 50%, $color-back);}
}