
@import '../../../assets/scss/variables.scss';
.return
{
  margin-top: 1rem;
    a 
    {
        color: $text-color;
        font-size: .9em;
        position: relative;
        .back__icon
        {
            color:$darkPink;
            position: relative;
            top: 1px;
          i{
            -webkit-transition: transform 0.3s ease-out;
            -moz-transition: transform 0.3s ease-out;
            -ms-transition: transform 0.3s ease-out;
            -o-transition: transform 0.3s ease-out;
            transition: transform 0.3s ease-out;
          }
        }
        &:hover{
            .back__icon{               
                i{
                    -webkit-transform: translateX(-4px);
                -moz-transform: translateX(-4px);
                -ms-transform: translateX(-4px);
                -o-transform: translateX(-4px);
                transform: translateX(-4px);
                }
            }
        }
    }
}
@keyframes slide {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(10px, 0);
    }
  }
.input:focus{
    border-color: #6747D4;
}
.name__icon,
.pwd__icon {
    top: 16px;
    left: 6px;
    font-size: 24px;
    position: absolute;
    color: #A2A2A2;
}
.form-group 
{
    min-height: 60px;
    .form-control {
    padding-left: 35px;
    color: #000000 !important;
}
}
input.erro.error__group {
    border: 1px solid #f7041c;
}
.failsigin
{
color: #f7041c;
}
#forgetPassword 
{
  padding-right: 40px;
}

